body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cal-body {
    height : 750px;
    width: 500px;
    border : 2px solid black;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 8px;
}

.display , .keypad {
    border: 1px solid black;
    display: flex;
    flex: 1;
}

.keypad {
    flex : 5;
    gap: 2px;
}

.numbers, .operators {
    flex: 1;
    display: flex;
    border : 1px solid green;
    flex-direction: column;
    gap : 5px;
    padding : 10px;
}

.numbers {
    flex: 3;
}

.oneToNine {
    border: 1px solid blue;
    flex : 5;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.zero {
    flex: 1;
    border: 1px solid blue;
    display: flex;
}

.operators button {
    flex: 1;
    font-size: 60px;
}

.display {
    padding: 10px;
    justify-content: end;
    align-items: stretch;
    font-size: 100px;
}
